@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rouge: #AD343E;
  --indigo: #9DC3C2;
  --black: #9DC3C2;
  --bleu: #4D7298;
  --gris: #ECEFF1;
  background-color: var(--bleu);
}

.bg-component{
  background-color: var(--indigo);
}
.title{
  color: var(--rouge);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}